.banner{
	text-align: center;
    font-size: 32px;
    font-style: bold;
    font-family: "trebuchet ms", sans-serif;    
}

.cabezon{
	text-align: center;
    font-size: 16px;
    font-style: bold;
    font-family: "trebuchet ms", sans-serif;    
}

.peon{
	text-align: left;
    font-size: 16px;
    font-style: bold;
    font-family: "trebuchet ms", sans-serif;    
}

.turno{
	text-align: center;
    font-size: 60px;
    font-style: bold;
    font-family: "trebuchet ms", sans-serif;    
}

.terminal{
	text-align: center;
    font-size: 39px;
    font-style: bold;
    font-family: "trebuchet ms", sans-serif;    
}
